.search {
  ::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 10px;
    height: 50px;
    width: 50px;
  }
  &_container {
    display: flex;
    margin-top:10px;
  }
  &_buttons {
    display: flex;
    justify-content: space-between;
  }
  &_main_panel {
    display: flex;
    height: 650px;
    width: 100%;
    border-radius: 0 10px 10px 0;
    border: 2px solid $color-primary;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    &_nav {
      background-color: #202020;
      flex-basis: 5%;
      color: #f1f1ff;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding-top: 10px;
      &_heading {
        text-orientation: mixed;
        writing-mode: vertical-rl;
        font-weight: $font-light
      }

    }
    &_input {
      height: 40px;
      margin: 10px;
      width: 250px;
      background-color:#e3dede ;
      border: none;
      border-radius: 10px;
      font-family: inherit;
      font-size: 100%;
      font-weight: $font-light;
      padding: 5px;
    }
    &_books {
      height: 100%;
      width: 100%;
      &_bookList {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        @include tablet {
          flex-direction: row;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
        }
        @include desktop {
          flex-direction: row;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
        }
        &_item {
          margin: 10px 0 10px 0;
          border: 2px solid $color-primary;
          width: 150px;
          height: 200px;
          margin-right: 10px;
          margin-left: 10px;
          position: relative;

          @include tablet {
            flex-basis: auto;
            border: 2px solid $color-primary;
            height: 200px;
            width: 150px;
          }
          @include desktop {
            flex-basis: auto;
            border: 2px solid $color-primary;
            height: 200px;
            width: 150px;

          }
        }
        &_button {

        }
      }
    }

  }


}